[data-semana].aberto::after {
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: #3F4;
  display: inline-block;
  border: 2px solid #000
}

[data-semana].fechado::after {
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  border: 2px solid #000
}

[data-btc] {
  background: #3f4;
  font-weight: bold;
  padding: 0 3px;
  border-radius: 2px;
}