/* JavaScript */

[data-tab="content"] section.ativo {
  display: block !important;
}

[data-tab="content"] section.ativo.show-right {
  animation: show-right .8s forwards;
}

[data-tab="content"] section.ativo.show-down {
  animation: show-down .8s forwards;
}

.js [data-tab="content"] section {
  display: none;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 100;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 100;
    transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt::after {
  content: "⬎";
  margin-left: 10px;

}

[data-anime="accordion"] dt.ativo::after {
  content: "⬏";
  margin-left: 10px;
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown 1s forwards;
}

.js [data-anime='scroll'] {
  opacity: 0;
}

.js [data-anime='scroll'].ativo {
  opacity: 1;
  animation: ScrollAnimation 1s forwards;
}


@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}

/* !!!not working @keyframes slideUp {
  from {
    opacity: 1;
    max-height: 200px;
  }

  to {
    opacity: 0;
    max-height: 0;
  }
} */

@keyframes ScrollAnimation {
  from {
    transform: translate3d(-30px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}